<h1 class="text-center mb-3">New Member Account</h1>

<%= render 'form', member_account: @member_account %>

<div class="w3-row text-center">
  <%= link_to 'Back', member_accounts_path, class:"btn-lg btn-primary" %>
</div>
